body {
	background-color: lightslategrey;
    padding: 30px;
}

div{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
}

#singers {
	clear: right;
	width: 100%;
    height: 100px;
}
#addSinger {

	clear: left;
}

button {
    color: blueviolet;
    background-color: cyan;
}

#singer-input, #addSinger {
	background-color: ghostwhite;
}



